.bar-group {
    display: flex;
    justify-items: center;border-radius: 5;
}

.country-label {font-family: 'Poppins';letter-spacing: 1px;
width: 200px;
    margin:10px;text-transform: uppercase;
}

.population-label{font-family: 'Poppins'}

.main{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.title{margin: 0 20px 10px 0;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Poppins';text-align: center;
}
.subtitle{margin: 0 20px 20px 0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins';text-align: center;
}